.root {
  display: flex;
  padding: var(--component-spacing-sm);
  gap: var(--component-spacing-xs);
  width: auto;
  min-width: max-content;
  border: var(--component-border-width-sm) solid var(--stroke-subtle);
  border-radius: var(--component-radii-lg);
  box-shadow: var(--elevation-medium);
  pointer-events: auto;
}

.wrapper {
  position: absolute;
  top: var(--size-250);
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  z-index: 99;
  pointer-events: none;
}

.separator {
  width: 1px;
  background-color: var(--stroke-subtle);
  margin: 0 var(--component-spacing-2xs);
}
