.colorPickerTrigger {
  cursor: pointer;
  border-radius: var(--component-radii-sm);
  border: var(--component-border-width-md) solid var(--stroke-subtle);
  width: var(--size-150);
  height: var(--size-150);
  flex-shrink: 0;
  padding: 0;

  &:hover {
    outline: var(--component-border-width-md) solid var(--stroke-default);
  }
}

.popoverCloseRemoveButton {
  all: unset;
  margin: var(--component-spacing-md);
}