@import url('react-contexify/ReactContexify.css');
.contexify {
    --contexify-menu-bgColor: var(--color-neutral-canvas-default-bg);
    --contexify-separator-color: var(--stroke-subtle);
    --contexify-item-color: var(--color-neutral-canvas-default-fg-default);
    --contexify-activeItem-color: var(--color-neutral-surface-ghost-idle-fg-default);
    --contexify-activeItem-bgColor: var(--color-neutral-surface-ghost-idle-bg);
    --contexify-rightSlot-color: var(--color-neutral-canvas-default-fg-subtle);
    --contexify-activeRightSlot-color: var(--color-neutral-surface-ghost-idle-fg-subtle);
    --contexify-arrow-color: var(--color-neutral-canvas-default-fg-subtle);
    --contexify-activeArrow-color: var(--color-neutral-canvas-default-fg-default);
    --contexify-menu-shadow: var(--elevation-medium);
}